.cart {
    &__title {
        /* Корзина */

        width: 280px;
        height: 96px;

        /* Desc/Header/XL */
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 150%;
        /* identical to box height, or 96px */

        /* Main/onSurface */
        color: #414141;

    }

    &-product-card {
        display: flex;
        flex-direction: row;
        padding: 0px;
        gap: 16px;

        width: 876px;
        height: 72px;

        background: #FFFFFF;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }

    &-product-image {
        width: 80px;
        height: 60px;
    }

    &-product-name {
        width: 536px;
        height: 24px;
    }

    
}
