#root {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}
* { 
  margin: 0px;  
  justify-content: center;
}
.content {
  justify-content: center;
    width: 1440px;
}