.autocomplete-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 20px;
  }
  
  .autocomplete-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .autocomplete-suggestions {
    width: 375px;
    box-sizing: border-box; top: 40px;
    background: #FFFFFF;
    border: 1px solid #70C05B;
    box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
    border-radius: 4px;
    z-index: 10;
    list-style-type: none;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

  }


  
  .autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  
  .autocomplete-suggestion:hover {
    background-color: #f0f0f0;
  }